<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>PlayStore.PlayStore</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>installGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>indicateInstalledMyApps</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>lastGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rateGame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>indicateInstalledAppium</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openAppStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openAppFromWishList</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initiatChrome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
</table>
