<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PlayStore.closeBrowser()[pri:0, instance:PlayStore.PlayStore@38af9828]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:21</td>   <td>-36624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.firstGame()[pri:2, instance:PlayStore.PlayStore@38af9828]">firstGame</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:46</td>   <td>-12155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.indicateInstalledAppium()[pri:6, instance:PlayStore.PlayStore@38af9828]">indicateInstalledAppium</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:46</td>   <td>-12118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.indicateInstalledMyApps()[pri:7, instance:PlayStore.PlayStore@38af9828]">indicateInstalledMyApps</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:11</td>   <td>-47173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlayStore.initiatChrome()[pri:0, instance:PlayStore.PlayStore@38af9828]">&gt;&gt;initiatChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:39</td>   <td>-18214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.installGame()[pri:5, instance:PlayStore.PlayStore@38af9828]">installGame</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:27</td>   <td>-30306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.lastGame()[pri:3, instance:PlayStore.PlayStore@38af9828]">lastGame</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:33</td>   <td>-24262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.openAppFromWishList()[pri:4, instance:PlayStore.PlayStore@38af9828]">openAppFromWishList</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:17</td>   <td>-40533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.openAppStore()[pri:1, instance:PlayStore.PlayStore@38af9828]">openAppStore</td> 
  <td>main@1272123492</td>   <td></td> </tr>
<tr bgcolor="86b8ff">  <td>19/03/03 11:56:52</td>   <td>-6060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStore.rateGame()[pri:8, instance:PlayStore.PlayStore@38af9828]">rateGame</td> 
  <td>main@1272123492</td>   <td></td> </tr>
</table>
